<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GEEKR极客星球 </h3>
    <p>GEEKR，专业的人工智能知识聚合阅读平台，我们致力成为AI从业者可以依赖的AI知识分发服务平台，与AI从业者一起学习、交流与成长！</p>
    <a class="project-link" href="https://geekr.me">GEEKR.ME</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 重庆城乡游 </h3>
    <p>重庆城乡游网免费提供大量重庆农家乐以及周边城乡旅游、采摘、民宿,重庆周边农家乐大数据信息收集,努力建设重庆周边城乡旅游农家乐精品民宿以及采摘园信息分享平台。</p>
    <a class="project-link" href="http://cqcxy.com">CQCXY.COM</a>
  </div>
</div>
